#menu {
    display:flex;
    list-style:none;
    justify-content:space-evenly;
    background-color:grey;
}

/* child selector */
/* All the <a> inside <li> inside #menu */
#menu li a {
   text-decoration: none;
   color: white;
   padding:8px;
   display:block; /* must be block before can have padding */
}    